body{
	background-color: #a9d0db;
}
h1{

	text-align: center;
	font-family: 'Luckiest Guy', cursive;
}
h2{

	text-align: center;
	font-family: 'Luckiest Guy', cursive;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
  margin-right: auto;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("img/mole.png");
	background-size: cover;
}